@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  background-color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 58px 165px;
}

.header .ustbaslikiki {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-underline-offset: 5px;
  text-decoration: underline #44ffa1;
  color: white;
}

/* Hero */

.anabaslik {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  overflow: hidden;
}

.anabaslik::before {
  content: "";
  position: absolute;
  top: 0;
  left: -70px;
  transform-origin: center;
  width: 100vw;
  height: 90vh;
  background-color: #24053e;
  border-end-start-radius: 40%;
  border-end-end-radius: 40%;
  transform: scale(1.5);
  z-index: -1;
}

.anabaslik .icon-1 {
  position: absolute;
  left: -10px;
  top: 10%;
}

.anabaslik .icon-2 {
  position: absolute;
  right: -30px;
  top: 35%;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-family: "Fraunces", sans-serif;
  font-weight: 600;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  /* text-underline-offset: 5px;
    text-decoration: underline #44FFA1; */
  color: white;
}

.hero h1 span {
  text-underline-offset: 10px;
  text-decoration: underline 3px #44ffa1;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 30px;
  background-color: #44ffa1;
  border: none;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-top: 38px;
}

.hero-image {
  margin-top: 50px;
}

/* Cards */

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
}

.card {
  padding: 80px 20px;

  display: flex;
  gap: 12px;
  align-items: stretch;
  justify-content: center;
}

.card-item {
  width: full;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.card-item .card-item-header {
  width: 56px;
  height: 56px;
  border: 1px solid #584d62;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #24053e;
  font-family: "Fraunces", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 28px;
}

.card-item .card-item-title {
  color: #24053e;
  font-family: "Fraunces", sans-serif;
  font-size: 32px;
  font-weight: 600;
}

.card-item .card-item-description {
  color: #24053e;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

/* Image Section */

.image-section {
  position: relative;

  padding: 80px 20px;

  display: flex;
}

.image-section-left {
  width: 447px;
  height: 447px;
  border-radius: 50%;
  background-color: #44ffa1;
  overflow: hidden;
  padding: 20px 0px 0px 0px;

  flex-shrink: 0;
}

.image-section-left img {
  object-fit: cover;
}

.image-section-right {
  background-color: #24053e;
  color: white;

  position: relative;

  display: flex;
  flex-direction: column;

  padding: 64px;
  gap: 32px;

  top: 200px;
  left: -90px;
}

.image-section-right h4 {
  font-family: "Fraunces", sans-serif;
  font-size: 56px;
  line-height: 64px;
  font-weight: 600;
}

.image-section-right p {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

.image-section-right button {
  align-self: self-start;
}

.image-section-right-icon img {
  position: absolute;
  right: 50px;
  bottom: -50px;
}

/* Footer */

.workit {
  margin: 200px auto 0;
  padding-bottom: 80px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  gap: 58px;
}

.sosyalmedya {
  display: flex;
  gap: 28px;

  align-items: center;
  justify-content: center;
}
.sosyalmedya img {
  width: 20px;
  height: 20px;
}
